@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);

body {
    color: #666;
    background-color: #eee;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.wrapper {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: #288dff;
}

b, strong {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.icon {
    display: block;
    float: left;
    color: #3fb5de;
    font-size: 28px;
}

section {
    position: relative;
}

header {
    height: 60px;
    background-color: #fff;
}

.white {
    background: #fff;
    //box-shadow: 0 0 30px -10px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 1px #e0e0e0;
}

.row {
    height: 100%;
}

header > .wrap, section > .wrap, footer > .wrap {
    height: 100%;
}

header > .wrap > *, section > .wrap > *, footer > .wrap > * {
    height: 100%;
}

#menu {
    background-color: #3fb5de;
    height: 66px;
}

.menu li {
    display: inline-block;
    height: 66px;
    line-height: 66px;
    position: relative;
    padding-left: 30px
}

.menu li.active{}

.menu li.active:before{
    content: '';
    display: block;
    top: 0;
    left: 50%;
    position: absolute;
    margin-left: -8.5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.menu li:first-child{
    padding-left: 0;
}

.menu a {
    color: #fff;
}

.lang {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex
}

.lang-arrow{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #666;
    margin-top: 8px;
}

.social-links .icon {
    color: #fff;
}

.social-links a {
    margin-top: 3px
}

.social-links a.icon-home{
    margin-top: 0;
}

.video {
    height: 270px;
}

.box {
    margin-bottom: 20px
}

.box-size-2{
    height: 250px;
}

.box-size-4{
    height: 400px;
}

.box-header{
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    border-left: 2px solid #ffc200;
    border-bottom: 1px solid #d7d7d7;
}

.box-header h2{
    font-size: 17px;
    letter-spacing: 0.02em;
    padding-left: 50px;
}

.box-header__green{
    border-left: 2px solid #93cc60;
}

.box-header__blue{
    border-left: 2px solid #3fb5de;
}

.box-header__violet{
    border-left: 2px solid #9696d3;
}

.box-content{
    overflow: hidden;
    height: calc(100% - 70px);
}

.box-content img{
    width: 100%;
}

.box-content a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.box-content a:hover span{
    opacity: 1;
}

.box-overlay{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    transition: .1s;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
}

.box-overlay i{
    color: #fff;
    font-size: 32px;
}

.box-col{
    padding: 0 20px;
    font-size: 14px;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.box-col b{
    color: #0099cc;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
    background-image: url('../images/preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background-color: #3fb5de;
    margin-top: 20px;
}

.props {
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
}

.props .center {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 20px;
}

.props span {
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

.desc {
    padding-left: 20px;
}

.desc h1 {
    margin: 10px 0;
    font-weight: 300;
}

.desc p {
    font-weight: 400;
    margin-bottom: 10px;
}

.desc h2 {
    margin-bottom: 12px;
}

.desc ul {
    margin-left: 15px;
}

.desc ul li {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 26px
}

.desc ul li:before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #ffc200;
    position: absolute;
    left: 0;
    top: 10px;
}

.swiper-container {
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
      align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper {
    height: 400px;
}

.swiper .swiper-slide {
    background-size: cover;
    background-position: center center;
}