@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    color: #666;
    background-color: #eee;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Merriweather',serif;
}

a {
    text-decoration: none;
    color: #288dff;
}

header {
    height: 60px;
    background-color: #fff;
}

.row {
    height: 100%;
}

header > .wrap, section > .wrap, footer > .wrap {
    height: 100%;
}

header > .wrap > *, section > .wrap > *, footer > .wrap > * {
    height: 100%;
}

#menu {
    background-color: #0099cc;
    height: 66px;
}

#menu li {
    display: inline;
}

#menu a {
    color: #fff;
}




