<section>
    <div class="wrap container pt-10">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumbs">
                    <li><a href data-ng-link="['Hotels']" translate="builds"></a><i class="icon icon-next"></i></li>
                    <li ng-hide="model.hotelId == 4"><a href data-ng-link="['Hotel', {id: model.hotelId}]">{{ 'build' | translate }} {{ model.hotelId }}</a><i class="icon icon-next"></i></li>
                    <li ng-if="model.hotelId == 4"><a href data-ng-link="['Hotel', {id: model.hotelId}]">У БАБУСІ</a><i class="icon icon-next"></i></li>
                    <li><span>{{ 'room' | translate}} {{ model.id }}</span></li>
                </ul>
            </div>
        </div>

        <div class="row pt-10">
            <div class="photo-slider col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-ng-repeat="img in model.room.images">
                            <img data-ng-src="{{ img }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-arrow swiper-prev">
                        <i class="icon icon-right-arrow"></i>
                    </div>
                    <div class="swiper-arrow swiper-next">
                        <i class="icon icon-right-arrow"></i>
                    </div>
                </div>
            </div>
            <div class="info-section col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="white relative pb-40">
                    <div class="room-price">
                        <span class="room-price__value">{{ model.room.price }}</span>
                        <b class="room-price__curency" translate="curency"></b>
                        <span class="room-price__note"><sup>*</sup> {{ 'priceNote' | translate }}</span>
                    </div>

                    <div class="desc">
                        <div class="room-title">
                            <h1>{{ 'room' | translate }} <b>{{ model.id }}</b></h1>
                        </div>
                        <h2 translate="roomProps"></h2>
                        <ul>
                            <li data-ng-repeat="prop in model.room.props track by $index">{{ prop | translate }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>